h1 {
	font-size:  18px;
	font-weight: 900;
	color: rgb(48, 48, 48);
	line-height: 30px;
}

th {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: rgb(51, 51, 176);
}

td {
	font-size: 15px;
	font-weight: 900;
	color: rgb(48, 48, 48);
}

a, a:visited {
	color:  rgb(80, 176, 176);
	text-decoration: none;
	font-weight: 800;
}

img {
	width: 500px;
	height: 500px;
}